<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="General">

<parameter name="appURL" value="https://account.iqa-pune.eu-west-1.tcie.pro/"/>
<parameter name="browserType" value="chrome"/>

  		<!-- test name="TCI" preserve-order="true">
  		<classes>
  		<class name="org.tibco.automation.tsc.testcases.TSC_TCI_Tests"> 	  			
  		</class>
  		</classes>
   		</test> -->
  		 		    		
  		<!-- test name="TCI_LAs" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tsc.testcases.TSC_TCI_LAs_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!-- test name="TCI_LiveApps" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tci.testcases.TCI_LiveApps_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!-- test name="TCE" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tsc.testcases.TSC_TCE_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!-- test name="TCI_CloudEvents" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tci.testcases.TCI_CloudEvents_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!-- test name="Scribe" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tsc.testcases.TSC_Scribe_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!--  test name="Spotfire" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tsc.testcases.TSC_Spotfire_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!--  test name="Scribe" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tsc.testcases.TSC_Mashery_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		<!--  test name="Audisafe" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tci.testcases.TCI_Auditsafe_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
		
			
   		<test name="Audisafe" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tci.testcases.TCI_Auditsafe_Tests">   			
  		</class>		
  		</classes>
   		</test>
   		<!-- test name="TCI-Mashery" preserve-order="true">
  		 <classes>
  		<class name="org.tibco.automation.tci.testcases.TCI_Mashery_Tests">   			
  		</class>		
  		</classes>
   		</test> -->
   		
   		
  				  		  		 		
</suite>